* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

header {
    height: 60px;
    line-height: 60px;
    color: white;
    background-color: #2d2d2d;
    align-items: center;
}

nav {
    display: block;
}

header a {
    margin-top: 30px;
}

a {
    text-decoration: none;
    color: inherit;
}

.header-inner {
    position: relative;
    width: 100%;
    max-width: 1500px;
    vertical-align: center;
    text-align: center;
    margin: 0 auto;
    font-size: 17px;
    font-weight: 500;
}

.logo {
    float: left;
    padding: 0px 30px 0px 30px;
    height: 60px;
}

.menu li {
    float: left;
    padding: 0px 20px 0px 20px;
    height: 60px;
}

.sign {
    position: absolute;
    right: 0;
}

.sign li {
    float: left;
    margin: 0px 20px 0px 20px;
    height: 60px;
}

.banner {
    width: 100%;
    height: 400px;
    position: relative;
    align-items: center;
    overflow: hidden;
}

.banner img {
    display: block;
    position: absolute;
    margin: 0px auto;
}

.banner-inner {
    height: 100%;
    width: 100%;
    max-width: 1350px;
    margin: auto;
    z-index: 1;
}

.intro {
    position: absolute;
    top: 95px;
    width: 380px;
    font-size: 20px;
    background-color: white;
    padding: 0px 25px;
    margin: auto 0px;
    opacity: 0.7;
}

.intro .title {
    font-size: 40px;
    font-weight: 700;
    padding: 25px 15px 15px 15px;
    border-bottom : 3px solid #2d2d2d;
}

.intro .title span {
    color: #707070;
}

.intro .desc {
    padding: 15px 15px 35px 15px;
    font-size: 20px;
    font-weight: 500;
}

.border {
    width: 100%;
    height: 40px;
    background-color: #454545;
}

.center {
    margin: 50px 0px 50px 0px;
}

.center .wrap {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
}

.center .wrap > div {
    float: left;
    flex: 1;
    margin: 0px 30px 0px 30px;
}

.headline {
    display: inline-block;
    padding: 20px 100px 20px 0px;
    font-size: 24px;
    border-bottom: 5px solid #0086b0;
}

.center .wrap .list {
    background-color: #f1f1f1;
    border-radius: 10px;
    margin-top: 30px;
    padding: 20px 30px;
    font-weight: 600;
    border-top: 5px solid #dbdbdb;
    border-bottom: 5px solid #dbdbdb;
}

.center .wrap .list dl {
    line-height: 2.3;
    color: #2d2d2d;
    font-size: 17px;
}

.center .wrap .list dt {
    position: relative;
    color: #a0a0a0;
}

.center .wrap .list dl dd {
    display: inline-block;
}